//(font-style,font-variant, font-weight, font-size, font-family)

/*--- Estilo normal ---*/
$normal: 14px 'Roboto', sans-serif;

/*--- Estilo de título ---*/
$title: 32px 'Russo One', sans-serif;

/*--- Estilo del botón ---*/
$button: 20px 'Play', sans-serif;

/*--- Estilo de la navBar*/
$navFont: 14px 'Play', sans-serif;

/*--- Dropdown Profile Menu ---*/
$dropMenuFont: 16px 'Roboto', sans-serif;

/*--- Tooltips ---*/
$tooltip: 14px 'Roboto', sans-serif;

/*--- Estilo de footer ---*/
$footer: 14px 'Roboto', sans-serif;