*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

html, 
body{
	height: 100%;
}

.container{
	width: 100%;
	display: flex;
	justify-content: center;
}

.block{
	margin-top: 20px;
	width: 60%;
	max-width: 600px;
	height: auto;
}

.secciones{
	background: #EA3C3C;
	color: white;
	.actividad{
		cursor: default;
	}
}

.block-header,
.secciones,
.rows{
	display: flex;
	justify-content: space-between;
	padding: 10px 12px;
	border-bottom: 1px solid #1E1E1E;
}

.actividad{
	width: 60%;
	text-align: center;
	position: relative;
	cursor: pointer;

	.tooltip-info{
		visibility: hidden;
		position: absolute;
		top: -25px;
		left: 30px;
		font-size: 12px;
		padding: 5px;
		border-radius: 6px;
	}

	&:hover .tooltip-info{
		visibility: visible;
		background: #AFAFAF;
		color: #343434;
	}

}

.fecha{
	text-align: center;
	width:15%;
}

.block-header{
	h2{
		width: 80%;
		text-align: center;
	}
}

.opciones{
	font-size: 18px;
	.icon{
		margin-left: 20px;
	}
}

.detalles{
	text-align: justify;
	height: 0;
	overflow: hidden;
	background: #D8D8D8;
	padding: 0;
	border: none;

	.avisos{
		width: 15%;
		text-align: center;
		span{
			padding: 10px;
			display: block;
		}
	}

	.info{
		width:70%;
	}

	.ediciones{
		width:15%;
		text-align: center;
		span{
			display: block;
			padding: 10px;
		}
	}


	-webkit-transition: height .3s ease;
	-moz-transition: height .3s ease;
	-ms-transition: height .3s ease;
	-o-transition: height .3s ease;
	transition: height .3s ease;
}