/*---CHAT---*/

.chat
	min-height: 30px
	width: 200px
	position: fixed
	bottom: 0
	right: 80px
	background: #b3b3b3
	overflow: hidden

.chat_btn
	width: 100%
	height: 30px
	padding: 4px 0
	background: transparent
	border: none

.srch
	width: 80%
	position: absolute
	bottom: 30px
