@media screen and (max-width: 1000px)
	.buscador
		margin-left: 50px
	

	.buscador input
		width: 60%
	
@media screen and (max-width: 840px)
	.buscador
		display: none
	

	.busq_aux
		display: inline-block
		float: left
		margin-left: 30px
		height: 35px
		color: white
	

	.busq_aux a
		display: inline-block
		text-align: center
		width: 20px
		text-decoration: none
		padding: 8px 4px 9px
		font-size: 16px
		font-family: 'Play',sans-serif
		color: #fff
	

	.busq-aux span
		display: block
		color: #6699ff
		width: 20px
		box-sizing: border-box
		height: 35px
		padding: 8px 10px 9px
		font-size: 16px
	

	nav
		display: none
	

	.nav_aux
		display: inline-block
		float: right
		height: 35px
		box-sizing: border-box
		padding: 7px
	

	.nav_aux ul li
		float: left
		height: 100%
		box-sizing: border-box
		position: relative
	

	.nav_aux ul li a
		display: inline-block
		text-align: center
		width: 20px
		text-decoration: none
		padding: 0px 15px 1px
		font-size: 16px
		font-family: 'Play',sans-serif
		color: #fff
	

	.nav-aux ul li span
		display: block
		color: #6699ff
		width: 20px
		box-sizing: border-box
		height: 35px
		padding: 8px 50px 9px
		font-size: 16px
	
	.chat
		width: 0
		height: 0
		padding: 0

	
	.chat input
		width: 0
		height: 0
		padding: 0
		border: none

@media screen and (max-width: 550px)
	body
		font-size: 10px
	
	.content
		width: 100%
	

	header
		width: 100%
	

	.cells
		display: block
		width: 100%
	

	.containers
		position: relative
		display: inline-block

	.user:hover menu
		height: 100px