@charset "UTF-8";
/*UTF-8*/
@import "https://fonts.googleapis.com/css?family=Play|Russo One|Roboto:300,400,700";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.in-b {
  display: inline-block; }

.b {
  display: block; }

/*--- Colores del home ---*/
/*--- Estilo normal ---*/
/*--- Estilo de título ---*/
/*--- Estilo del botón ---*/
/*--- Estilo de la navBar*/
/*--- Dropdown Profile Menu ---*/
/*--- Tooltips ---*/
/*--- Estilo de footer ---*/
body {
  background: #ccc;
  font: 14px "Roboto", sans-serif;
  padding-bottom: 30px; }

/*Estilos de la caja de contenidos*/
.content {
  width: 70%;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #e6e6e6; }

/*MAIN*/
.main {
  margin-top: 35px;
  width: 100%; }

/*BLOQUES*/
.blocks {
  width: 100%;
  display: table;
  background: #e6e6ff; }

.cells {
  display: inline-block;
  float: left;
  width: 33.33%;
  position: relative;
  border: none;
  text-align: center;
  padding: 0px;
  margin-top: 5px; }

.containers {
  position: relative;
  display: inline-block;
  margin: 5px auto;
  width: 95%;
  background: #3399ff; }

.blocks ul {
  list-style: none; }

.containers img {
  height: 200px;
  display: block; }

.containers ul li a {
  display: block;
  padding: 5px 8px;
  text-decoration: none;
  color: black; }

.SlideShow {
  height: 400px;
  width: 100%;
  background: #cccccc;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 35px; }

.slide {
  position: absolute;
  display: block;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
  .slide img {
    width: 100%;
    position: relative; }

.activeSlide {
  display: block;
  opacity: 1;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.slide .info {
  position: absolute;
  bottom: 0px;
  height: 170px;
  width: 100%;
  padding: 10px;
  background: rgba(245, 245, 245, 0.7); }

.slide .info p {
  font-size: 12px;
  margin-top: 10px; }

.controles {
  display: flex;
  position: absolute;
  padding: 10px;
  align-self: center;
  width: 100%;
  color: white;
  justify-content: space-between;
  font-size: 30px; }

.controles span {
  border-radius: 50%;
  padding: 10px;
  background: rgba(150, 150, 150, 0.5);
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

.controles span:hover {
  background: rgba(250, 250, 250, 0.9);
  color: #151515;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

.marcadores {
  height: 20px;
  width: 100px;
  display: flex;
  position: absolute;
  bottom: 5px;
  align-items: center;
  justify-content: space-between; }

.marcadores span {
  height: 20px;
  width: 20px;
  border-style: solid;
  border-radius: 50%;
  border-color: #151515;
  border-width: 2px;
  display: inline-block;
  background: transparent; }

.marcadores span:hover {
  cursor: pointer;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

.marcadores .activeMark {
  background-color: #151515;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

/*>>>>> Colores <<<<<*/
/*---ENCABEZADO---*/
ul {
  list-style: none; }

header {
  width: 100%;
  background-color: #4d79ff;
  position: fixed;
  left: 0;
  top: 0;
  padding: 0;
  height: 35px;
  /*Revisar*/
  z-index: 2; }

/*---MENÚ DE USUARIO---*/
.user {
  display: inline-block;
  width: 40px;
  float: left;
  position: relative;
  box-sizing: border-box;
  -webkit-transition: all 5s ease;
  -moz-transition: all 5s ease;
  -ms-transition: all 5s ease;
  -o-transition: all 5s ease;
  transition: all 5s ease; }

.menu {
  height: 0;
  position: absolute;
  left: 0;
  top: 35px;
  background-color: #0066cc;
  min-width: 120px;
  width: 20%;
  overflow: hidden;
  /*Revisar los índices*/
  z-index: -1;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease; }

.menu ul {
  list-style: none; }

.menu ul li a {
  font: 14px "Roboto", sans-serif;
  color: white;
  text-decoration: none;
  display: block;
  padding: 7px 5px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease; }

.menu ul li:hover a {
  background-color: #6699ff; }

.menu ul li a span {
  margin-right: 10px; }

.img-user {
  width: 33px;
  margin-top: 1px;
  margin-left: 10px;
  display: block;
  border-radius: 50%; }

.user:hover .menu {
  height: 124px; }

.user, nav li, .buscador {
  display: inline-block; }

/*---BÚSQUEDA---*/
.buscador {
  margin-left: 100px;
  padding-top: 0;
  height: 35px;
  position: relative;
  width: 40%;
  background: transparent; }

.buscador:hover {
  cursor: pointer;
  font: 14px "Play", sans-serif; }

.buscador input {
  margin-top: 4px;
  padding: 0px;
  float: left;
  background-color: transparent;
  border-style: none;
  border-bottom: solid 1px #fff;
  border-radius: 5px;
  display: visible;
  color: white;
  width: 0;
  opacity: 0;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

.buscador span {
  display: inline-block;
  float: left;
  padding: 0 10px;
  margin-top: 10px;
  color: #fff;
  font: 14px "Play", sans-serif; }

/*---BARRA DE NAVEGACIÓN---*/
nav {
  display: inline-block;
  float: right; }

nav ul li {
  float: left;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  background: #4d79ff; }

nav ul li a {
  display: inline-block;
  text-align: center;
  width: 76px;
  text-decoration: none;
  padding: 8px 4px 9px;
  font: 14px "Play", sans-serif;
  color: #fff;
  background: #4d79ff; }

nav ul li span {
  display: block;
  position: absolute;
  top: -35px;
  left: 0;
  background-color: #ccd9ff;
  color: #4d79ff;
  width: 76px;
  box-sizing: border-box;
  height: 35px;
  padding: 8px 10px 9px;
  font-size: 16px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }

nav ul li:hover span {
  position: absolute;
  top: 0; }

/*Navegación auxliar no disponible*/
.nav_aux {
  display: none; }

.busq_aux {
  display: none; }

/*--- Colores ---*/
/*---CHAT---*/
.chat {
  min-height: 30px;
  width: 230px;
  position: fixed;
  bottom: 0;
  right: 50px;
  background: #9B79FF;
  overflow: hidden; }

.chat_btn {
  color: white;
  font: 14px "Roboto", sans-serif;
  width: 100%;
  height: 30px;
  padding: 4px 0;
  z-index: 1;
  background: #5700EB;
  border: none; }

.srch {
  margin: 0 auto;
  z-index: -1;
  width: 95%;
  position: absolute;
  bottom: 5px;
  left: 5px;
  border-radius: 5px; }

@media screen and (max-width: 1000px) {
  .buscador {
    margin-left: 50px; }

  .buscador input {
    width: 60%; } }
@media screen and (max-width: 840px) {
  .buscador {
    display: none; }

  .content {
    width: 100%; }

  .busq_aux {
    display: inline-block;
    float: left;
    margin-left: 30px;
    height: 35px;
    color: white; }

  .busq_aux a {
    display: inline-block;
    text-align: center;
    width: 20px;
    text-decoration: none;
    padding: 8px 4px 9px;
    font-size: 16px;
    font-family: 'Play',sans-serif;
    color: #fff; }

  .busq-aux span {
    display: block;
    color: #6699ff;
    width: 20px;
    box-sizing: border-box;
    height: 35px;
    padding: 8px 10px 9px;
    font-size: 16px; }

  nav {
    display: none; }

  .nav_aux {
    display: inline-block;
    float: right;
    height: 35px;
    box-sizing: border-box;
    padding: 7px; }

  .nav_aux ul li {
    float: left;
    height: 100%;
    box-sizing: border-box;
    position: relative; }

  .nav_aux ul li a {
    display: inline-block;
    text-align: center;
    width: 20px;
    text-decoration: none;
    padding: 0px 15px 1px;
    font-size: 16px;
    font-family: 'Play',sans-serif;
    color: #fff; }

  .nav-aux ul li span {
    display: block;
    color: #6699ff;
    width: 20px;
    box-sizing: border-box;
    height: 35px;
    padding: 8px 50px 9px;
    font-size: 16px; }

  .chat {
    width: 0;
    height: 0;
    padding: 0; }

  .chat input {
    width: 0;
    height: 0;
    padding: 0;
    border: none; } }
@media screen and (max-width: 550px) {
  body {
    font-size: 10px; }

  header {
    width: 100%; }

  .cells {
    display: block;
    width: 100%; }

  .containers {
    position: relative;
    display: inline-block; }

  .user:hover .menu {
    height: 104.5px; } }

/*# sourceMappingURL=home.css.map */
