@charset "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Play|Quantico|Ubuntu';
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background: #ccc;
  font-family: "Ubuntu", sans-serif;
  padding-bottom: 30px; }

/*Estilos de la caja de contenidos */
.content {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #e6e6e6; }

/*---ENCABEZADO--- */
ul {
  list-style: none; }

header {
  width: 80%;
  background-color: #4d79ff;
  position: fixed;
  top: 0;
  padding: 0;
  height: 35px;
  /*Revisar */
  z-index: 1; }

/*---MENÚ DE USUARIO--- */
.user {
  display: inline-block;
  width: 40px;
  float: left;
  position: relative;
  box-sizing: border-box;
  -webkit-transition: all 5s ease;
  -moz-transition: all 5s ease;
  -ms-transition: all 5s ease;
  -o-transition: all 5s ease;
  transition: all 5s ease; }

.menu {
  height: 0;
  position: absolute;
  left: 0;
  top: 35px;
  background-color: #0066cc;
  min-width: 120px;
  width: 20%;
  overflow: hidden;
  /*Revisar los índices */
  z-index: -1;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }

.menu ul {
  list-style: none; }

.menu ul li a {
  font-family: "Ubuntu", sans-serif;
  color: white;
  text-decoration: none;
  display: block;
  padding: 7px 5px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }

.menu ul li:hover a {
  background-color: #6699ff; }

.menu ul li a span {
  margin-right: 10px; }

.img-user {
  width: 33px;
  margin-top: 1px;
  margin-left: 10px;
  display: block;
  border-radius: 50%; }

.user:hover .menu {
  height: 128px; }

.user, nav li, .buscador {
  display: inline-block; }

/*---BÚSQUEDA--- */
.buscador {
  margin-left: 100px;
  padding-top: 0;
  height: 35px;
  position: relative;
  width: 40%; }

.buscador input {
  margin-top: 4px;
  padding: 3px;
  float: left;
  background-color: transparent;
  border-style: none;
  border-bottom: solid 1px #fff;
  border-radius: 5px;
  display: visible;
  color: white;
  width: 85%; }

.buscador span {
  display: inline-block;
  float: left;
  padding: 0 10px;
  margin-top: 10px;
  color: #fff; }

/*---BARRA DE NAVEGACIÓN--- */
nav {
  display: inline-block;
  float: right; }

nav ul li {
  float: left;
  height: 100%;
  box-sizing: border-box;
  position: relative; }

nav ul li a {
  display: inline-block;
  text-align: center;
  width: 76px;
  text-decoration: none;
  padding: 8px 4px 9px;
  font-size: 14px;
  font-family: "Play", sans-serif;
  color: #fff; }

nav ul li span {
  display: block;
  position: absolute;
  top: -35px;
  left: 0;
  background-color: #ccd9ff;
  color: #6699ff;
  width: 76px;
  box-sizing: border-box;
  height: 35px;
  padding: 8px 10px 9px;
  font-size: 16px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

nav ul li:hover span {
  position: absolute;
  top: 0; }

/*Navegación auxliar no disponible */
.nav_aux {
  display: none; }

.busq_aux {
  display: none; }

/*MAIN */
.main {
  margin-top: 35px;
  width: 100%;
  background-color: #000033; }

.galery {
  width: 100%;
  height: 350px;
  background: #000033; }

/*BLOQUES */
.blocks {
  width: 100%;
  display: table;
  background: #e6e6ff; }

.cells {
  display: inline-block;
  float: left;
  width: 33.33%;
  position: relative;
  text-align: center;
  padding: 5px; }

.containers {
  position: relative;
  display: inline-block;
  margin: 5px auto;
  width: 95%;
  background: #3399ff; }

.blocks ul {
  list-style: none; }

.containers img {
  height: 200px;
  display: block; }

.containers ul li a {
  display: block;
  padding: 5px 8px;
  text-decoration: none;
  color: #000; }

/*---CHAT--- */
.chat {
  min-height: 30px;
  width: 200px;
  position: fixed;
  bottom: 0;
  right: 80px;
  background: #b3b3b3;
  overflow: hidden; }

.chat_btn {
  width: 100%;
  height: 30px;
  padding: 4px 0;
  z-index: 1;
  background: #b3b3b3;
  border: none; }

.srch {
  margin: 0 auto;
  z-index: -1;
  width: 95%;
  position: absolute;
  bottom: 5px;
  left: 5px; }

@media screen and (max-width: 1000px) {
  .buscador {
    margin-left: 50px; }

  .buscador input {
    width: 60%; } }
@media screen and (max-width: 840px) {
  .buscador {
    display: none; }

  .busq_aux {
    display: inline-block;
    float: left;
    margin-left: 30px;
    height: 35px;
    color: white; }

  .busq_aux a {
    display: inline-block;
    text-align: center;
    width: 20px;
    text-decoration: none;
    padding: 8px 4px 9px;
    font-size: 16px;
    font-family: "Play", sans-serif;
    color: #fff; }

  .busq-aux span {
    display: block;
    color: #6699ff;
    width: 20px;
    box-sizing: border-box;
    height: 35px;
    padding: 8px 10px 9px;
    font-size: 16px; }

  nav {
    display: none; }

  .nav_aux {
    display: inline-block;
    float: right;
    height: 35px;
    box-sizing: border-box;
    padding: 7px; }

  .nav_aux ul li {
    float: left;
    height: 100%;
    box-sizing: border-box;
    position: relative; }

  .nav_aux ul li a {
    display: inline-block;
    text-align: center;
    width: 20px;
    text-decoration: none;
    padding: 0px 15px 1px;
    font-size: 16px;
    font-family: "Play", sans-serif;
    color: #fff; }

  .nav-aux ul li span {
    display: block;
    color: #6699ff;
    width: 20px;
    box-sizing: border-box;
    height: 35px;
    padding: 8px 50px 9px;
    font-size: 16px; }

  .chat {
    width: 0;
    height: 0;
    padding: 0; }

  .chat input {
    width: 0;
    height: 0;
    padding: 0;
    border: none; } }
@media screen and (max-width: 550px) {
  body {
    font-size: 10px; }

  .content {
    width: 100%; }

  header {
    width: 100%; }

  .cells {
    display: block;
    width: 100%; }

  .containers {
    position: relative;
    display: inline-block; }

  .user:hover menu {
    height: 100px; } }

/*# sourceMappingURL=plantilla.css.map */
