/*--- Backgrounds ---*/

$bg-color: #90DDAB;
$background-form: rgba(8,113,171,0.85);
$background-footer: rgba(90,255,255,0.3);


/*--- INPUTS ---*/

$input-color: #C2D9DD;
$input-focus: rgba(51, 119, 255,0.5);
$input-submit: #4E71C0;
$hover-submit: #35CBFC;


/*--- OTROS ---*/

$icons-white: #FFFFFF;
$border-bottom: #5E5151;
$links: #05BFFC;